# Permite execução de arquivos PHP dentro do GLPI
<FilesMatch "\.php$">
    Require all granted
</FilesMatch>

# RemoveHandler e RemoveType comentados para evitar quebra de recursos
# RemoveHandler .php
# RemoveType .php

# Reativa o interpretador PHP para este diretório
AddHandler application/x-httpd-php .php

# Protege arquivos sensíveis do GLPI
<FilesMatch "(^\.htaccess|\.ini|\.log|\.sh)$">
    Order allow,deny
    Deny from all
</FilesMatch>
